
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/jquery.mousewheel.min.js"></script>
<script src="/static/js/jquery.mCustomScrollbar.min.js"></script>
<script src="/static/js/wNumb.js"></script>
<script src="/static/js/nouislider.min.js"></script>
<script src="/static/js/plyr.min.js"></script>
<script src="/static/js/jquery.morelines.min.js"></script>
<script src="/static/js/photoswipe.min.js"></script>
<script src="/static/js/photoswipe-ui-default.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/custom.js"></script>